@import url('bootstrap/dist/css/bootstrap.min.css');
#app{
    position: relative;
}
.pop-up{
    margin-left: auto;
    position: sticky;
    top: 10px;
    display: none;
}
.list-group-item{
    min-width: 100px;
}